<h1>Gerenciador de Conteúdo</h1>

<a href="/?pagina=admin&metodo=create">Criar publicação</a><br/><br/>
<hr/>
<br/>
<table border="1">
    <tr>
        <th>ID</th>
        <th>TÍTULO</th>
        <th>ATUALIZAR</th>
        <th>DELETAR</th>
    </tr>

    {% for post in postagens %}
    <tr>
        <th>{{ post.id }}</th>
        <th>{{ post.titulo }}</th>
        <th><a href="/?pagina=admin&metodo=change&id={{ post.id }}"> ATUALIZAR </a></th>
        <th>DELETAR</th>
    </tr>
    {% endfor %}
</table>