<section>

    <h1>POSTAGENS:</h1>

    <article>
        <header>
            <h2><a href="#">Título da minha postagem</a></h2>
        </header>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quod delectus minima harum! Quidem aspernatur fugit est incidunt totam laborum nesciunt voluptatem odit, quia maxime commodi iure mollitia corrupti qui.</p>
    </article> 
    
    <article>
        <header>
            <h2><a href="#">Título da minha postagem</a></h2>
        </header>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quod delectus minima harum! Quidem aspernatur fugit est incidunt totam laborum nesciunt voluptatem odit, quia maxime commodi iure mollitia corrupti qui.</p>
    </article>

    <article>
        <header>
            <h2><a href="#">Título da minha postagem</a></h2>
        </header>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quod delectus minima harum! Quidem aspernatur fugit est incidunt totam laborum nesciunt voluptatem odit, quia maxime commodi iure mollitia corrupti qui.</p>
    </article>
</section>